h1{
  color: LightYellow;
  text-align: center;
  font-size: 80px;
  letter-spacing: 2px;
}
p{
  color: LightYellow;
    text-align: center;
  font-size: 25px;
}

body {
  background-color: darkseagreen;
}

iframe{
  border: black;
}
