h1{
  color: LightYellow;
  text-align: center;
  font-size: 80px;
  letter-spacing: 2px;
}

p{
  color: LightYellow;
    text-align: center;
  font-size: 25px;
}

body {
  background-color: darkseagreen;
}

iframe{
  border: black;
}

ul{list-style-type: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #323232;
  opacity: 0.6;

}

li a {
  display: block;
  color: LightYellow;
  text-align: center;
  padding: 10px 30px;
  float: left;
  font-size: 23px;
   opacity: 1;
}

li.nav a:hover {
  background-color: #2f4f4f;
}

br{
  color: LightYellow;
}

td{
  color: LightYellow;
  text-align: center;
}

em{
  font-size: 18px;
  color: LightYellow;
}

button {
  background-color: #2f4f4f;
  color: LightYellow;
  margin: 5px 4px;
  padding: 15px 30px;
  border: 4px dotted LightYellow;
}
